<% provide :title, t("supervisors.course.edit") %>
<h1><%= t "supervisors.course.edit_course" %></h1>
<div class="col-md-12">
  <%= form_for [:supervisors, @course] do |f| %>
    <div class="col-md-6">
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label :start_date %>
      <%= f.date_field :start_date, class: "form-control" %>

      <%= f.label :end_date %>
      <%= f.date_field :end_date, class: "form-control" %>

      <%= f.submit t("supervisors.course.edit_course"), class: "btn btn-primary" %>
    </div>
      
    <div class="col-md-5 col-md-offset-1">
      <h4><span class="label label-success"><%= t ".add_subject" %></span></h4>
      <%= f.collection_check_boxes :subject_ids, @supports.subjects, :id, :name do |b| %>
        <ul><li class="checkbox-inline">
          <%= b.label do %>
            <%= b.check_box %>
            <%= b.text %>
          <% end %>
          </li></ul>
      <% end %>

      <h4><span class="label label-success"><%= t ".add_trainnee" %></span></h4>
      <%= f.collection_check_boxes :user_ids, @supports.trainees, :id, :name do |b| %>
        <ul><li class="checkbox-inline">
          <%= b.label do %>
            <%= b.check_box %>
            <%= b.text %>
          <% end %>
          </li></ul>
      <% end %>

      <h4><span class="label label-success"><%= t "users.add_supervisor" %></span></h4>
      <%= f.collection_check_boxes :user_ids, @supports.supervisors, :id, :name do |b| %>
        <ul><li class="checkbox-inline">
          <%= b.label do %>
            <%= b.check_box %>
            <%= b.text %>
          <% end %>
          </li></ul>
      <% end %>
    </div>
  <% end %>
</div>
