<% provide :title, t(".all_subjects") %>
<h1><%= t ".all_subjects" %></h1>

<div class="col-xs-12 addButton">
  <%= link_to t(".add_subject"), new_supervisors_subject_path,
    class: "btn btn-primary" %>
</div>

<div class="col-xs-12">
  <%= will_paginate %>

  <ul class="subjects"><%= render @subjects %></ul>

  <%= will_paginate %>
</div>
