<% provide :title, t("user.my_profile") %>

<h1><%= t "user.my_profile" %></h1>

<div class="col-md-6 col-md-offset-3">
  <div class="center">
    <div class="profile">
      <h3><%= @user.name %></h3></br>
      <b><%= t "email" %></b><%= @user.email %></br>
    </div>
  </div>
</div>
<div class="col-md-12">
  <div class="col-md-6">
    <% @user_courses.each do |user_course| %>
      <% if user_course.course.started? %>
        <div class="col-md-6">
          <h4><%= t "course" %>
            <span class="course-name"><%= user_course.course.name %></span>
          </h4>
          <% if user_course.course.started? %>
            <h4><span class="label label-success"><%= t "progress" %></span></h4>
          <% elsif user_course.course.finished? %>
            <h4><span class="label label-default"><%= t "finish" %></span></h4>
          <% else %>
            <h4><span class="label label-success"><%= t "init" %></span></h4>
          <% end %>
        </div>
        <div class="col-md-6">
          <p><%= t "start_date" %><span class="label label-info">
            <%= l user_course.course.start_date, format: :default %></span></p>
          <p><%= t "end_date" %><span class="label label-info">
            <%= l user_course.course.end_date, format: :default %></span></p>
        </div>
        <div class="col-md-12">
          <button type="button" class="btn btn-primary" data-toggle="collapse"
            data-target="#profile"><%= t "show_hide" %></button>
          <div id="profile" class="collapse">
            <ul class="subjects">
              <% user_course.user_subjects.each do |user_subject| %>
                <li class="subjects">
                  <b><%= user_subject.subject.name %></b> |
                    <% if user_subject.progress? %>
                      <h4><span class="label label-success">
                        <%= t "progress" %>
                      </span></h4>
                    <% elsif user_subject.finished? %>
                      <h4><span class="label label-default">
                        <%= t "finish" %>
                      </span></h4>
                    <% else %>
                      <h4><span class="label label-warning">
                        <%= t "init" %>
                      </span></h4>
                    <% end %>
                  <% user_subject.subject.tasks.each do |task| %>
                    <div class="padding-left">
                      <%= task.name %> |
                      <% if current_user.tasks.include?(task) %>
                        <span class="label label-default">
                          <%= t "done" %>
                        </span>
                      <% else %>
                        <span class="label label-success">
                          <%= t "init" %>
                        </span>
                      <% end %>
                    </div>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= t "activities" %></div>
    </div>
  </div>
</div>
