<% provide :title, t("user.my_profile") %>
<h1><%= t "user.my_profile" %></h1>
<div class="col-md-6 col-md-offset-3">
  <p class="col-md-6 col-md-offset-3">
    <%= label_tag :name %><%= @user.name %></br>
    <%= label_tag :email %><%= @user.email %></br>
    <%= label_tag :avatar %></br>
    <img src="<%= @user.avatar.url %>" class="img-circle" alt="Cinque Terre" width="150" height="150"><br />
  </p>
</div>
