<% provide :title, t("subject") %>

<div class="row">
  <aside class="col-md-4">
    <section class="subject_info">
      <h1><%= @subject.name %></h1><br>
      <p><%= @subject.description %></p>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @subject.tasks.any? %>
      <h3><span class="label label-success">
        <%= t "task" %><%= @subject.tasks.count %>
      </span></h3>
      <ol class="tasks">
        <%= render @tasks %>
      </ol>
    <% end %>
  </div>
</div>
