<div class="col-md-8">
  <div class="col-md-10">
    <div class="row">
      <h1 class="header-title"><%= @user_subject.subject.name %></h1>
      <% case @user_subject.status %>
      <% when Settings.init %>
        <h4><span class="label label-success"><%= t "new" %></span></h4>
      <% when Settings.progress %>
        <h4><span class="label label-primary"><%= t "progress" %></span></h4>
      <% when Settings.finished %>
        <h4><span class="label label-default"><%= t "finish" %></span></h4>
      <% end %>
    </div><br>
    <%= @user_subject.subject.description %>
  </div>
  <% if @user_subject.progress? %>
    <%= form_for [@user_subject.user_course, @user_subject] do |f| %>
      <div class="col-md-2">
        <%= f.hidden_field :status, value: :finished %>
        <h3><%= f.button t("finish"), type: :submit,
          data: {confirm: t("confirm")}, class: "btn btn-danger" %></h3>
      </div>
    <% end %>
  <% end %>
  <div class="col-md-12">
    <ul class="courses">
      <% if @supports.tasks.any? %>
        <% @supports.tasks.each do |task| %>
          <li>
            <%= form_for @supports.new_user_task do |f| %>
              <div class="col-md-8">
                <h3><%= task.name %></h3>
                <%= task.description %>
              </div>
              <% if current_user.tasks.include?(task) %>
                <div class="col-md-4">
                  <h3><span class="label label-default"><%= t "done" %>
                  </span></h3>
                </div>
              <% else %>
                <% if @user_subject.progress? %>
                  <div class="col-md-4">
                    <%= f.hidden_field :task_id, value: task.id %>
                    <%= f.hidden_field :user_subject_id, value: @user_subject.id %>
                    <h3><%= f.button t("finish"), data: {confirm: t("confirm")},
                      type: :submit, class: "btn btn-success" %></h3>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <%= t "user.no_task" %>
      <% end %>
    </ul>
  </div>
</div>
<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">Progress</div>
    <div class="panel-body">
      <ul>
        <li>
          <%= t "user.task.init_task",
            init_task: @user_subject.subject.tasks.count - @user_subject.user_tasks.count,
            total_task: @user_subject.subject.tasks.count %>
        </li>
        <li>
          <%= t "user.task.finished_task",
            finish_task: @user_subject.user_tasks.count,
            total_task: @user_subject.subject.tasks.count %>
        </li>
      </ul>
    </div>
  </div>
</div>
