<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3><span><%= t ".framgia" %></span></h3>
        <p>
          <%= link_to t(".home"), root_path, id: "head" %>
          <%= link_to t(".about"), nil, id: "head" %>
          <%= link_to t(".help"), nil, id: "head" %>
        </p>
        <p class="footer-description">
          <%= t ".copyright" %>
        </p>
      </div>
      <div class="col-sm-4">
        <h4 class="text-center"><%= t ".contact" %></h4>
        <p><span class="glyphicon glyphicon-map-marker"></span>
          <%= t ".address" %>
        </p>
        <p><span class="glyphicon glyphicon-phone"></span>
          <%= t ".phone" %>
        </p>
        <p><span class="glyphicon glyphicon-envelope"></span>
          <%= t ".mail" %>
        </p>
      </div>
      <div class="col-sm-4">
        <div>
          <h4><%= t ".about" %></h4>
          <p class="footer-description"><%= t ".description" %></p>
        </div>
      </div>
    </div>
  </div>
</footer>
