<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to "Framgia Training System", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path, id: "head" %></li>
        <li><%= link_to "Trainee", root_path, id: "head" %></li>
        <li><%= link_to "Course", nil, id: "head" %></li>
        <li><%= link_to "Subject", nil, id: "head" %></li>
        <li><%= link_to "Log in", nil, id: "head" %></li>
      </ul>
    </nav>
  </div>
</header>
