<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <%= link_to t(".title"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), root_path, id: "head" %></li>
        <li><%= link_to t(".course"), nil, id: "head" %></li>
        <li><%= link_to t(".subject"), subjects_path, id: "head" %></li>
        <li><%= link_to t(".trainee"), nil, id: "head" %></li>
        <li><%= link_to t(".login"), nil, id: "head" %></li>
      </ul>
    </nav>
  </div>
</header>
