<% provide :title, t(".all_trainee") %>
<h1><%= t ".all_trainee" %></h1>

<div class="col-xs-12 addButton">
  <%= link_to t(".add_trainee"), new_supervisors_user_path,
    class: "btn btn-primary" %>
</div>

<div class="col-md-12">
  <%= will_paginate %>
  <ul class="users">
    <%= render @users %>
  </ul>
  <%= will_paginate %>
</div>
